* {
	font-family: sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
#windyty {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#mouseposition {
	position: absolute;
	bottom: 17px;
    right: 40px;
    padding: 3px;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    z-index: 5;
    border-radius: 3px;
}
#mouseposition p {
    padding: 0px;
    margin: 0px;
}
#markerposition {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 47px;
    right: 40px;
    padding: 4px;
    z-index: 5;
    border-radius: 3px;
    opacity: 0;
    transition: 0.5s;
}
#markerposition pre {
    background: rgba(0, 0, 0, 0);
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    color: #fff;
}
#test {}

#windyty .logo {
    position: absolute;
    top: 5px;
    left: 50%;
    height: 22px;
    margin-left: -50px;
    cursor: pointer;
    display: block
}

.leaflet-popup .leaflet-popup-content-wrapper {
    border-radius: 8px;
}
.leaflet-popup .leaflet-popup-content {
    margin: 8px;
    padding: 0px;
}

@media screen and (max-width: 787px) {
    #mouseposition {
        display: none;
    }
    #markerposition {
        bottom: 80px;
    }
}

.fleetLabels{
	border: 0;
	padding: 0px 4px 0px 4px
}

.fleetLabels::before{
	left: -7px;
	color: black;
	opacity: 0.4
}
