html{
    height: 100%;
    width: 100%;
}

body{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
}

#container{
    height: 100%;
    width: 100%;
}

#menu{
    position:absolute;
    list-style-type: none ;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: white;
    top: 0%;
    height: 3.5%;
    width: 100%;
    min-height: 30px;
    z-index: 1;
}

.menu_line{
    position: absolute;
    font-size: 16px;
    left: 0%;
    height: 100%;
    width: 20%;
}

.menu_route{
    position: absolute;
    font-size: 16px;
    left: 20%;
    height: 100%; 
    width: 30%;
}

.menu_GPX{
    position: absolute;
    left: 50%;
    height: 100%;
    width: 20%;
    text-align: center;
    font-size: 16px;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.menu_CSV{
    position: absolute;
    left: 70%;
    height: 100%;
    width: 20%;
    text-align: center;
    font-size: 16px;
    margin: 0;
    padding: 0;
    border-radius: 0;
    -webkit-border-radius: 0px;
}

.menu_RESET{
    position: absolute;
    left: 90%;
    height: 100%;
    width: 10%;
    text-align: center;
    font-size: 16px;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

<<<<<<< HEAD
=======
/*
#reset{
    border-radius: 0%;
}
*/
/*
#download{
    border-radius: 0%; 
}
*/

>>>>>>> 47e9b285f65f77def32c423f0646e25390f10cdd
#showmap{
    position: absolute;
    width: 100%;
    top: 3.5%;
    height: 96.5%;
    z-index: 0;
}

#maptile{
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 80px;
    height: 80px;
    margin: 0px;
    padding: 0px;
    border-radius: 0;
<<<<<<< HEAD
    opacity: 0.75;
=======
    opacity: 0.7;
>>>>>>> 47e9b285f65f77def32c423f0646e25390f10cdd
    z-index: 2;
}

#tile{
    font-size: 16px;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    border-radius: 0;
}

<<<<<<< HEAD
.mouseposition{
  font-family: sans-serif;
  background:rgba(0,0,0,0.5);
  color:#fff;
  position: absolute;
  top: 50px;
  right: 10px;
  padding: 10px;
  z-index: 2;
  border-radius: 3px;
  }

.mouseclick, .mousemove{
    padding: 0px;
    margin: 0px;
}

#mouseclick, #mousemove{
    font-size: 16px;
    font-family: sans-serif;
}

#markerposition{
  font-family: sans-serif;
  background:rgba(0,0,0,0.5);
  color:#fff;
  position: absolute;
  bottom: 190px;
  left: 10px;
  padding: 10px;
  z-index: 2;
  border-radius: 3px;
}

#distance_button_div{
    position: absolute;
    bottom: 100px;
    left: 10px;
    width: 80px;
    height: 80px;
    margin: 0px;
    padding: 0px;
    border-radius: 0;
    opacity: 0.75;
    z-index: 2;
}

#distance_button{
    font-size: 16px;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    border-radius: 0;
}

#distance_kilometer{
    font-size: 16px;
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}
#distance_nauticalmile{
    font-size: 16px;
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}
=======
>>>>>>> 47e9b285f65f77def32c423f0646e25390f10cdd
