html{
    height: 100%;
    width: 100%;
}

body{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
}

.menu_line{
    position: absolute;
    font-size: 20px;
    width: 100%;
}

.menu_route{
    position: absolute;
    font-size: 20px; 
    width: 100%;
}

.menu_download{
    position: absolute;
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding: 0;
    border-radius: 0%;
}

.menu_button{
    position: absolute;
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding: 0;
    border-radius: 0%;
}

#button{
    border-radius: 0%; 
}

#download{
    border-radius: 0%; 
}

#container {
    height: 100%;
    width: 100%;
}

#menu{
    position:absolute;
    list-style-type: none ;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: white;
    width: 100%;
}

#showmap{
    position: absolute;
    width: 100%;
}