html{
    height: 100%;
    width: 100%;
}

body{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
}

#container{
    height: 100%;
    width: 100%;
}

#menu{
    position:absolute;
    list-style-type: none ;
    font-family: sans-serif;
    background-color: white;
    margin: 0px;
    padding: 0px;
    top: 0%;
    height: 3.5%;
    width: 100%;
    min-height: 30px;
    border-radius: 0;
    -webkit-border-radius: 0px;
    z-index: 5;
}

.menu_line{
    position: absolute;
    font-size: 16px;
    left: 0%;
    height: 100%;
    width: 20%;		
}

.menu_route{
    position: absolute;
    font-size: 16px;
    left: 20%;
    height: 100%; 
    width: 30%;		
}

.menu_GPX{
    position: absolute;
    left: 50%;
    height: 100%;
    width: 20%;
    text-align: center;
    font-size: 16px;
    border-radius: 0;
    -webkit-border-radius: 0px;
}

.menu_CSV{
    position: absolute;
    left: 70%;
    height: 100%;
    width: 20%;
    text-align: center;
    font-size: 16px;   
    border-radius: 0;
    -webkit-border-radius: 0px;
}

.menu_Windyty{
    position: absolute;
    left: 80%;
    height: 100%;
    width: 10%;
    text-align: center;
    font-size: 16px;   
    border-radius: 0;
    -webkit-border-radius: 0px;
}

.menu_RESET{
    position: absolute;
    left: 90%;
    height: 100%;
    width: 10%;
    text-align: center;
    font-size: 16px;    
    border-radius: 0;
    -webkit-border-radius: 0px;
}

#windyty{
    position: absolute;
    width: 100%;
    top: 3.5%;
    height: 96.5%;
    z-index: 1;
}

.mouseposition{
    font-family: sans-serif;
    font-size: 16px;
    background:rgba(0,0,0,0.5);
    color:#fff;
    position: absolute;
    bottom: 17px;
    right: 40px;
    padding: 3px;
    z-index: 5;
    border-radius: 3px;
    opacity: 0.6;
  }

.mousemove{
    padding: 0px;
    margin: 0px;
}

#mousemove{
    background:rgba(0,0,0,0);
    font-size: 16px;
    font-family: sans-serif;
    color: #fff;
}

#markerposition{
    display: none;
    font-family: sans-serif;
    background:rgba(0,0,0,0.5);
    color:#fff;
    position: absolute;
    bottom: 45px;
    right: 40px;
    padding: 5px;
    z-index: 5;
    border-radius: 3px;
    opacity: 0.6;
}

#distance_kilometer{
    background:rgba(0,0,0,0);
    color: #fff;
    font-size: 16px;
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
    border:0px;
}

#distance_nauticalmile{
    background:rgba(0,0,0,0);
    font-size: 16px;
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
    border: 0px;
    color: #fff;
}

#flaticon{
    position: absolute;
    font-family: sans-serif;
    font-size: 10px;
    color: #fff;
    opacity: 0.7;
    bottom: 2px;
    right: 125px;   
    z-index: 5;
}

#test{
    
}