html{
    height: 100%;
    width: 100%;
}

body{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
}

#container{
    height: 100%;
    width: 100%;
}

#menu{
    position:absolute;
    list-style-type: none ;
    font-family: sans-serif;
		background-color: white;
    margin: 0px;
    padding: 0px;
    top: 0%;
    height: 3.5%;
    width: 100%;
    min-height: 30px;
    border-radius: 0;
    -webkit-border-radius: 0px;
    z-index: 5;
}

.menu_line{
    position: absolute;
    font-size: 16px;
    left: 0%;
    height: 100%;
    width: 20%;		
}

.menu_route{
    position: absolute;
    font-size: 16px;
    left: 20%;
    height: 100%; 
    width: 30%;		
}

.menu_GPX{
    position: absolute;
    left: 50%;
    height: 100%;
    width: 20%;
    text-align: center;
    font-size: 15px;
    border-radius: 0;
    -webkit-border-radius: 0px;
}

.menu_CSV{
    position: absolute;
    left: 70%;
    height: 100%;
    width: 20%;
    text-align: center;
    font-size: 15px;   
    border-radius: 0;
    -webkit-border-radius: 0px;
}

.menu_RESET{
    position: absolute;
    left: 90%;
    height: 100%;
    width: 10%;
    text-align: center;
    font-size: 15px;    
    border-radius: 0;
    -webkit-border-radius: 0px;
}


#windyty{
    position: absolute;
    width: 100%;
    top: 3.5%;
    height: 96.5%;
		z-index: 1;
}


#maptile{
    position: absolute;
    bottom: 80px;
    left: 10px;
    width: 80px;
    height: 80px;
    margin: 0px;
    padding: 0px;
    border-radius: 0;
    opacity: 0.7;
    z-index: 5;
}

#tile{
    font-size: 16px;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    border-radius: 0;
}

.windytyButton {
	position: absolute;
	background-color: black;
	color : white;
    top: 4%;
    border : 0px;
    width: 80px;
    height: 32px;
    margin: 0px;
    padding: 0px;
    opacity: 0.3;
    z-index: 20;
	border-radius: 6px;
	cursor: pointer;
    -webkit-border-radius: 6px;
	font-family: sans-serif;
	font-size: 16px;
}
.windytyButton:hover {
	transition-duration: 1s;
	background-color: white;
	color : black;
}

input[type=range] {
    -webkit-appearance: none; 
    /* Hides the slider so that custom slider can be made */
    width: 35%; 
    /* Specific width is required for Firefox. */
    /*background: transparent;*/ 
    /* Otherwise white in Chrome */
	position: absolute;
	opacity: 0.6;
	left: 10px;
	bottom: 20px;
	z-index: 20;
    margin: 0;
    padding: 0;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 8px;
    background: white;
    border: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 16px;
    border-radius: 25%;
    background: black;
    cursor: pointer;
    margin-top: -6px;
}

#calender{
	position: absolute;
	background-color: black;
	color: white;
	font-family: sans-serif;
	font-size: 16px;
	text-align: center;
	padding: 0px 8px;
	opacity: 0.6;
	border: none;
	bottom: 40px;
	left: 10px;
	width: 250px;
    height: 23px;
	z-index: 20;
}

#markerposition{
  font-family: sans-serif;
  background:rgba(0,0,0,0.5);
  color:#fff;
  position: absolute;
  bottom: 260px;
  left: 10px;
  padding: 10px;
  z-index: 5;
  border-radius: 3px;
}

.mouseposition{
  font-family: sans-serif;
  background:rgba(0,0,0,0.5);
  color:#fff;
  position: absolute;
  top: 10%;
  right: 10px;
  padding: 10px;
  z-index: 5;
  border-radius: 3px;
  }

.mouseclick, .mousemove{
    padding: 0px;
    margin: 0px;
}

#mouseclick1, #mousemove{
    font-size: 16px;
    font-family: sans-serif;
}

#distance_button_div{
    position: absolute;
    bottom: 170px;
    left: 10px;
    width: 80px;
    height: 80px;
    margin: 0px;
    padding: 0px;
    border-radius: 0;
    opacity: 0.75;
    z-index: 5;
}

#distance_button{
    font-size: 16px;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    border-radius: 0;
}

#distance_kilometer{
    font-size: 16px;
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}
#distance_nauticalmile{
    font-size: 16px;
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}